@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



body{
    font-family: system-ui;
    margin: 0px;
    background-color: #121212;
}

.Header{
    display: flex;
    justify-content: center;
    
    
   
}
.Header h3{
    margin-right: 10px;
    font-size: 32px;
    margin-left: 14px;
    padding-top: 10px;
}
.omar{
    color: rgb(255, 82, 82);
    
}
.cont-header{
   display: flex;
    margin-left: auto;
}

.cont-header h3{
    font-size: 24px;
    text-align: center;
    padding-top: 25px;

    color: white;

}
a{
    text-decoration: none;
}



hr{

    border-color: #3B3B3B;
}

/* Main */
.main h1{
    color: rgb(255, 104, 104);
    font-size: 45px;
    text-align: center;
}

h2{color: white;}


#projects {
    padding: 2rem;
    text-align: center;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  
  .project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-card h3 {
    margin: 0.5rem 0;
  }
  
  .project-card .tags {
    font-size: 0.9rem;
    color: #555;
  }
  
  .buttons {
    margin-top: 1rem;
  }
  
  .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    margin: 0 0.5rem;
    transition:  0.3s;
  }
  
  .btn:hover {
    background: #0056b3;
  }


  .contact-section {
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    background-color: #202020;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  
  .contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
  }
  
  .contact-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgb(255, 255, 255);
  }
  
  .contact-link {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  
  .contact-link:hover {
    color: #ff7eb3; /* Pink color on hover */
  }


