.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.not-found h1,
.not-found p {
    margin: 0px;
    color: white; 
    text-shadow: 0 0 4px white;
}

.not-found h1 {
    font-size: 48px;
    opacity: 0.95;
}

.not-found p {
    font-size: 22px;
    opacity: 0.85;
    color: white; 
}

.not-found button {
    margin-top: auto;
    width: 180px;
    padding: 10px 15px;
    border: 2px solid #3498db;
    border-radius: 7px;
    background-color: #1E2A47; 
    color: #fff; 
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.not-found button:hover {
    background-color: #3498db;
    color: #fff; 
    transform: scale(1.05);
    box-shadow: 0 0 10px #3498db, 0 0 15px #2980b9;
}